@import "~antd/dist/antd.css";

.app {
  min-height: 100vh;
  background: #fff;
}

.launch-spinner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: red;
}


/********APP HEADER**********/
.app_header {
  width: 100%;
  border-bottom: 1px solid #e7eaec;
  height: 65px;
  padding-left: 50px;
  display: flex;
  justify-content: space-between;
  box-shadow: 10px 2px 15px 1px #e7eaec;
}

.app_header_logo {
  color: #fff;
}

/*************STUDENTS***************/
.admin_side_bar {
  margin-top: -1px;
}


.table_container {
  width: 100%;
}

@media only screen and (max-width: 400px) {
  .table_container .ant-table {
    width: 100%;
  }
}

@media only screen and (max-width: 992px) {
  .table_container .ant-table table {
    border-collapse: none;
  }
  .table_container .ant-table {
    font-size: 10px;
  }
}

.registered_courses.ant-col.ant-col-xs-24 {
  margin-bottom: 30px;
}
