@import '~antd/dist/antd.css';

:root {
  --title-color: #676a6c;
  --text-color: #676a6c;
  /* --title-color: #035d4d;
  --text-color: #738a86; */
}

.app {
  min-height: 100vh;
  background: #fff;
}

.launch-spinner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: red;
}

/********APP HEADER**********/
.app_header {
  width: 100%;
  border-bottom: 1px solid #e7eaec;
  height: 65px;
  padding-left: 50px;
  display: flex;
  justify-content: space-between;
  box-shadow: 10px 2px 15px 1px #e7eaec;
}

.app_header_logo {
  color: #fff;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, 
.ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background: none;
}

/*************STUDENTS PAGE***************/

.table_container {
  width: 100%;
}

@media only screen and (max-width: 400px) {
  .table_container .ant-table {
    width: 100%;
  }
}

@media only screen and (max-width: 992px) {
  .table_container .ant-table table {
    border-collapse: none;
  }
  .table_container .ant-table {
    font-size: 10px;
  }
}

.registered_courses.ant-col.ant-col-xs-24 {
  margin-bottom: 30px;
}

.add-student-spin {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*******************LOGIN PAGE *******************/
.login_form_container {
  background: #f3f3f4;
  height: 93vh;
}

.login_form {
  width: 20%;
  margin: 0 auto;
  margin-top: 100px;
  border: 1px solid #e7eaec;
  padding-left: 10px;
  padding-right: 10px;
}

.login_form .login-form-button {
  display: block;
  /* background: var(--text-color); */
  width: 100%;
}

.login-form-forgot {
  text-align: center;
  color: var(--text-color);
  margin-top: 0;
  display: block;
}

.login-in-spin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-in-spin .ant-spin-dot-item {
  background: var(--primary-dim);
}

.login-in-spin .ant-spin-text {
  color: var(--primary-dim);
}

.signin-title {
  font-size: 35px;
  color: var(--primary-dim);
  margin: 20px auto 20px auto;
  width: 40%;
}

/* LOGIN MOBILE */
@media only screen and (max-width: 450px) {
  .login_form {
    width: 95%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    padding-top: 0;
    border: none;
    position: absolute;
    top: 0;
  }

  .login_form .login-form-button {
    display: block;
    width: 100%;
  }

  .login-form-forgot {
    text-align: center;
    color: green;
    margin-top: 0;
    display: block;
  }

  .signin-title {
    font-size: 40px;
    margin: 0 auto 20px auto;
    width: 40%;
  }
}


/** REGISTER***/

.register-title {
  font-size: 35px;
  color: var(--primary-dim);
  margin: 20px auto 20px auto;
  width: 40%;
}

/*** ADD NEW STUDENT PAGE *****/
.ant-layout-content.new-student-content {
  width: 50%;
}
@media only screen and (max-width: 450px) {
  .ant-layout-content.new-student-content {
    width: 100%;
  }
}



/*** ADD NEW COURSE PAGE *****/
.ant-layout-content.new-course-content {
  width: 50%;
}
@media only screen and (max-width: 450px) {
  .ant-layout-content.new-course-content {
    width: 100%;
  }
}


/********SIDEBAR ***********/
.admin_side_bar {
  margin-top: -1px;
}

.admin_side_bar .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: none;
  border-top: 1px solid #272744;
}