@import "~antd/dist/antd.css";

.app {
  min-height: 100vh;
  background: #fff;
}


/********APP HEADER**********/
.app_header {
  width: 100%;
  border-bottom: 1px solid #e7eaec;
  height: 65px;
  padding-left: 50px;
  display: flex;
  justify-content: space-between;
  box-shadow: 10px 2px 15px 1px #e7eaec;
}

.app_header_logo {
  color: #fff;
}

/*************ADMIN***************/
.admin_side_bar {
  margin-top: -1px;
}


.table_column.ant-table-cell {
  /* width: auto; */
}

.table_container {
  width: 100%;
}

.table_container .ant-table {
  /* border: 2px solid red; */
  /* width: 100%; */
}

.table_container .ant-table-tbody .ant-table-row {
  /* width: 100%; */
  border: 2px solid green;
}

@media only screen and (max-width: 400px) {
  .table_container .ant-table {
    width: 100%;

    /* border: 2px solid red; *
    /* font-size: 10px; */
    /* font-size: 10px; */
  }
}

@media only screen and (max-width: 992px) {
  .table_container .ant-table table {
    border-collapse: none;
  }
  .table_container .ant-table {
    font-size: 10px;
  }
}
